@import "tailwindcss";

:root {
  --background-light: #777e8e;
  --background-dark: #111921;
  --text-light: #4a4a4a;
  --text-dark: #eaeaea;
  --font-manrope: "GFS Didot", serif;
  --font-playfair: "GFS Didot", serif;
}

@theme inline {
  --color-primary: #e5ce9a;
  --color-secondary: #b2b8a3;
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --font-display: var(--font-manrope);
  --font-heading: var(--font-playfair);
  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-light);
  font-family: var(--font-manrope), sans-serif;
}

.gfs-didot-regular {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
